body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 24px;
  margin: 0;
  color: #f39c12;
}

header button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.outside {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.inside {
  height: 15px;
  margin: 30px;
}

header button:hover {
  background-color: #e67e22;
}

main {
  max-width: 1200px;
  height: 485px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.container_index {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.reminder {
  font-size: 4em;
  font-style: italic;
}

main button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: #f39c12;
  color: white;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f2f2f2;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
